---
import ContentContainer from "../components/ContentContainer.astro";
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
---

<Layout title="The Rise & Fall Of Mo' Money Taxes">
	<main class="h-[50vh] bg-hero-bg-mobile bg-cover bg-center sm:bg-hero-bg-laptop">
		<ContentContainer>
			<div class="col-span-full text-white text-center space-y-4">
				<p class="text-2xl">Mo' Money Taxes Ent Presents</p>
				<h1 class="font-bold text-2xl sm:text-4xl">The Rise & Fall Of Mo' Money Taxes </h1>
			</div>
		</ContentContainer>
		
	</main>
	<div class="container max-w-7xl grid grid-cols-4 sm:grid-cols-8 xl:grid-cols-12 gap-4 mx-auto px-4 -mt-[20vh] sm:-mt-[20vh]">
		<iframe src="https://www.youtube.com/embed/REXGjs6U0x0" title="Goodtimes" class="w-full rounded h-[50vh] col-span-full sm:col-span-8 xl:col-start-3"></iframe>
		<div class="space-y-4 col-span-full sm:col-span-4 xl:col-start-3">
			<h2 class="font-bold">Watch The Rise and Fall Of Mo Money Taxes</h2>
			<p><span class="text-main-green">Some Quote About film</span> - dolor sit amet, consectetur adipiscing elit. Nullam commodo velit ex, non ultrices leo auctor at.</p>
		</div>
		<form action="" class="col-span-full sm:col-span-4">
			<label for="">
				<input type="email" placeholder="Enter Your Email"  class="border border-b-0 border-main-green p-4 w-full">
			</label>
			<button class="block text-white bg-main-green w-full p-4">Get Updates On Film</button>
		</form>
	</div>
	<section class=" bg-about-repeat-logo bg-repeat">
		<ContentContainer>
			<div class="col-span-full text-center mb-20">
				<p class="xl:text-4xl font-bold w-max mx-auto relative">
					<img src="/images/svg/green-double-quote.svg" alt="" class="hidden sm:inline absolute -left-16  -top-2 -scale-x-100">
					The Tax Industry Will Never Be The Same
					<img src="/images/svg/green-double-quote.svg" alt="" class="hidden sm:inline absolute -right-16 -top-2">
				</p>
			</div>
			<div class="col-span-4 xl:col-span-5 xl:col-start-2">
				<img src="/images/about/main.png" alt="" class="" class="h-auto object-contain">
			</div>
			<div class="col-span-4 xl:col-span-5 space-y-4 h-min items-center">
				<p class=" text-main-gold font-bold text-xl">And You'll Be Glad That You Did</p>
				<h2 class="font-bold text-2xl">About Mo'Money Taxes</h2>
				<p>Brief introduction about mo money taxes - consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat</p>
				<a href="" class="block bg-main-green text-white font-bold p-4 text-center rounded">Watch Documentary</a>
			</div>
		</ContentContainer>
	</section>
	<section>
		<ContentContainer>
			<div class="col-span-full text-center mb-8">
				<p class="text-main-green -mb-2 font-bold">Where is the Mo Money Team Now?</p>
				<h2 class="font-bold text-2xl">The Businesses That Came Out of Mo Money Taxes</h2>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex flex-col sm:flex-row gap-4 mb-8">
				<picture class="w-full">
					<source media="(min-width: 640px)" srcset="images/where/headshot.png">
					<img src="images/where/small-headshot.png" alt="" class="mx-auto">
				</picture>
				<div>
					<h3 class="font-bold">Derrick Robinson</h3>
					<p><span class="text-main-green">Brief intro about who you are and what you're doing now</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Ipsum a arcu cursus vitae congue mauris rhoncus. Ut diam quam nulla porttitor. <span class="text-main-green">Provide links to social media and other sites</span></p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<picture class="w-full">
					<source media="(min-width: 640px)" srcset="images/where/headshot.png">
					<img src="images/where/small-headshot.png" alt="" class="mx-auto">
				</picture>
				<div>
					<h3 class="font-bold">Markey Grandberry</h3>
					<p><span class="text-main-green">Brief intro about who you are and what you're doing now</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Ipsum a arcu cursus vitae congue mauris rhoncus. Ut diam quam nulla porttitor. <span class="text-main-green">Provide links to social media and other sites</span></p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<picture class="w-full">
					<source media="(min-width: 640px)" srcset="images/where/headshot.png">
					<img src="images/where/small-headshot.png" alt="" class="mx-auto">
				</picture>
				<div>
					<h3 class="font-bold">EU Reese</h3>
					<p><span class="text-main-green">Brief intro about who you are and what you're doing now</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Ipsum a arcu cursus vitae congue mauris rhoncus. Ut diam quam nulla porttitor. <span class="text-main-green">Provide links to social media and other sites</span></p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<picture class="w-full mx-auto">
					<source media="(min-width: 640px)" srcset="images/where/headshot.png">
					<img src="images/where/small-headshot.png" alt="" class="mx-auto">
				</picture>
				<div>
					<h3 class="font-bold">Shandon Allen</h3>
					<p><span class="text-main-green">Brief intro about who you are and what you're doing now</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Ipsum a arcu cursus vitae congue mauris rhoncus. Ut diam quam nulla porttitor. <span class="text-main-green">Provide links to social media and other sites</span></p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 flex-col sm:flex-row">
				<picture class="w-full">
					<source media="(min-width: 640px)" srcset="images/where/headshot.png">
					<img src="images/where/small-headshot.png" alt="" class="mx-auto">
				</picture>
				<div>
					<h3 class="font-bold">Tabihta</h3>
					<p><span class="text-main-green">Brief intro about who you are and what you're doing now</span> - Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Euismod elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Ipsum a arcu cursus vitae congue mauris rhoncus. Ut diam quam nulla porttitor. <span class="text-main-green">Provide links to social media and other sites</span></p>
				</div>
			</div>
		</ContentContainer>
	</section>
	<section class="bg-optin-small sm:bg-optin-large text-white bg-contain">
		<ContentContainer>
			<div class="col-span-4 sm:col-span-8 xl:col-start-3 text-center space-y-4">
				<p class="text-main-gold">Enter your email to</p>
				<h2 class="font-bold">Find Out What Really Happened</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
				<form action="">
					<label for="">
					  <input type="email" placeholder="Enter Email" class="border border-main-gold w-3/4 p-2 rounded-l">
					</label>
					<button class="text-white font-bold bg-main-gold w-1/4 border border-main-gold p-2 rounded-r">Get Updates</button>
				  </form>
			</div>
		</ContentContainer>
	</section>
	<section>
		<ContentContainer>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 space-y-4">
				<p class="text-main-green -mb-6">About Film &</p>
				<h2 class="font-bold text-xl">Release Date</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At in tellus integer feugiat. Sit amet commodo nulla facilisi. Nunc eget lorem dolor sed. Pellentesque nec nam aliquam sem et tortor consequat id. Egestas pretium aenean pharetra magna ac. Tellus elementum sagittis vitae et. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada. Faucibus purus in massa tempor nec feugiat nisl pretium fusce. Cursus mattis molestie a iaculis at erat pellentesque adipiscing commodo. Arcu dictum varius duis at consectetur lorem.</p>
				<p>Nullam eget felis eget nunc. Sit amet facilisis magna etiam tempor orci eu lobortis elementum. Ornare lectus sit amet est placerat. Pretium lectus quam id leo. Nunc congue nisi vitae suscipit. Mattis rhoncus urna neque viverra justo nec ultrices dui sapien. Eu lobortis elementum nibh tellus molestie. Tellus orci ac auctor augue. Urna id volutpat lacus laoreet non curabitur. Mauris cursus mattis molestie a. Diam quis enim lobortis scelerisque fermentum dui faucibus. Rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Eu scelerisque felis imperdiet proin. Faucibus a pellentesque sit amet porttitor eget dolor morbi non. Adipiscing elit duis tristique sollicitudin nibh. Nec feugiat nisl pretium fusce id. Arcu non sodales neque sodales ut.</p>
				<p>Porttitor lacus luctus accumsan tortor posuere ac. Sit amet consectetur adipiscing elit ut aliquam purus sit. Ultricies lacus sed turpis tincidunt id. Habitant morbi tristique senectus et netus. Consectetur adipiscing elit ut aliquam purus sit. Tincidunt augue interdum velit euismod in pellentesque. Semper viverra nam libero justo. Adipiscing elit duis tristique sollicitudin nibh. Aliquet porttitor lacus luctus accumsan tortor posuere ac. Mattis ullamcorper velit sed ullamcorper morbi. Aliquet nec ullamcorper sit amet risus. Dui id ornare arcu odio ut sem. Sit amet est placerat in egestas erat imperdiet. Mauris commodo quis imperdiet massa. Vitae proin sagittis nisl rhoncus mattis rhoncus. Purus non enim praesent elementum facilisis leo vel. Varius vel pharetra vel turpis nunc eget lorem dolor. Arcu cursus euismod quis viverra. Dui vivamus arcu felis bibendum.</p>
			</div>
		</ContentContainer>
	</section>
	<section>
		<ContentContainer>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 mb-8">
				<p class="text-main-green -mb-2">Mo Money Taxes</p>
				<h2 class="font-bold text-xl">Commercials</h2>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 flex-col sm:flex-row mb-8">
				<iframe src="https://www.youtube.com/embed/S1djKycwHXk?si=Kca2PrMGukTd651x" title="YouTube video player"></iframe>
				<div>
					<h3 class="font-bold">Neckbones</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<iframe src="https://www.youtube.com/embed/REXGjs6U0x0?si=ShJ_oL-VOjMAPxFS" title="YouTube video player"></iframe>
				<div>
					<h3 class="font-bold">Goodtimes</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<iframe src="https://www.youtube.com/embed/eNc8RnV4bSE" title="Godfather"></iframe>
				<div>
					<h3 class="font-bold">Godfather</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<iframe src="https://www.youtube.com/embed/Zo80GLoHKmY" title="Batman"></iframe>
				<div>
					<h3 class="font-bold">Batman</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<iframe src="https://www.youtube.com/embed/W9rH9PqZ0B8" title="MM Soldiers Memphis"></iframe>
				<div>
					<h3 class="font-bold">Mo Money Soldiers</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<iframe src="https://www.youtube.com/embed/oFKqg2lkZQc" title="Boss Hog - Dukes of H"></iframe>
				<div>
					<h3 class="font-bold">Dukes of Hazzard</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<iframe src="https://www.youtube.com/embed/Eph6ACKD8X0" title="Mo Money 2008 Madea"></iframe>
				<div>
					<h3 class="font-bold">Mo Money Madea</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<iframe src="https://www.youtube.com/embed/5TBogL3U3Yw" title="Mr. Green"></iframe>
				<div>
					<h3 class="font-bold">Mr Green</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<iframe src="https://www.youtube.com/embed/GhFC3ENtFCY" title="Mo Money Vice"></iframe>
				<div>
					<h3 class="font-bold">Mo Money Vice</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row-reverse">
				<iframe src="https://www.youtube.com/embed/EahMfp9wyFk" title="RIP Mo Money"></iframe>
				<div>
					<h3 class="font-bold">RIP Mo Money</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
			<div class="col-span-full sm:col-span-8 xl:col-start-3 flex gap-4 mb-8 flex-col sm:flex-row">
				<iframe src="https://www.youtube.com/embed/x7JIzGOU_s8" title="Mo Money Life After Death"></iframe>
				<div>
					<h3 class="font-bold">Mo Money Life After Death</h3>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus quis quidem eius corporis amet deleniti veritatis reiciendis iste quod modi! Totam aut velit voluptatem provident delectus eum ipsa recusandae architecto.</p>
				</div>
			</div>
		</ContentContainer>
	</section>
	<Footer></Footer>
</Layout>