---
import ContentContainer from "./ContentContainer.astro";

---

<footer class="bg-main-green text-white">
    <ContentContainer>
        <div class="col-span-4 flex flex-col space-y-4">
            <img src="/mo-money-taxes-logo.png" class="w-1/2">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quis doloribus doloremque maxime cupiditate veniam eveniet unde! Aliquam vel ipsum dolor quae, eligendi, fuga reiciendis accusantium nostrum similique consectetur harum?</p>
        </div>
        <div class="col-span-4 mt-4 xl:col-start-8">
            <h2 class="font-bold text-lg">Related Links</h2>
            <ul>
                <li><a href="/">link 1</a></li>
                <li><a href="/">link 1</a></li>
                <li><a href="/">link 1</a></li>
                <li><a href="/">link 1</a></li>
                <li><a href="/">link 1</a></li>
            </ul>
        </div>
        <p class="col-span-full text-center font-thin mt-16"><a href="https://midsouthwebdesigns.com">Made By Mid South Web Designs & Development</a> | Copyright © 2023 | All Rights Reserved</p>
    </ContentContainer>
</footer>